<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.minskkniga.minskkniga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".api.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Menu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Clients.Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Clients.Add"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Providers.Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Providers.Add"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Nomenklatura.Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Nomenklatura.Add"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Zakazy.Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Zakazy.Zakazy_Client"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Couriers.Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Couriers.Zakazy"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Zakazy.Zakaz_info"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Couriers.Zakaz_info"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Organizer.Main"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Organizer.Add"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Spravoch_Couriers.Add"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Zakazy.Zakaz_new"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Barcode"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Zakazy.Sborka"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Zakazy.Sborka_tab"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.Kassa.Main" />
        <activity android:name=".activity.Kassa.Kassa_info" />
        <activity android:name=".activity.Kassa.Kassa_add" />
        <activity
            android:name=".activity.providers.ProvidersListActivity"
            android:label="@string/title_activity_providers_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.providers.ProviderZayavkiListActivity"
            android:label="@string/title_activity_provider_zayavki_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.providers.DescriptionZayavkaActivity"
            android:label="@string/title_activity_description_zayavka"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.providers.DescriptionZayavkaBookActivity"
            android:label="@string/title_activity_description_zayavka_book"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.providers.NewProviderZayavka"
            android:label="@string/title_activity_new_provider_zayavka"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.providers.SelectNomeclaturaActivity"
            android:label="Номеклатура"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.providers.RashodOrder"
            android:label="@string/title_activity_rashod_order"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Kassa.SchetOperation"
            android:label="@string/title_activity_schet_operation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.category.SchetaListActivity"
            android:label="@string/title_activity_scheta_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.inventarizacia.InventarizaciaActivity"
            android:label="@string/title_activity_inventarizacia"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.inventarizacia.InventarizaciaInfoActivity"
            android:label="@string/title_activity_inventarizacia_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Kassa.calculator.CalculatorGB"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.Kassa.calculator.CalculatorL"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.providers.ProvidersZayavkiRaschetActivity"
            android:label="@string/title_activity_providers_zayavki_raschet"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".adapter.Zakazy.ReturnToSclad"
            android:label="@string/title_activity_return_to_sclad"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.inventarizacia.RangsActivity"
            android:label="@string/title_activity_rangs"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Zakazy.PrihodOrder"
            android:label="@string/title_activity_prihod_order"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Zakazy.ShowOtgruzennoe"
            android:label="@string/title_activity_show_otgruzennoe"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>