<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.minskkniga.minskkniga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".api.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Menu" />
        <activity android:name=".activity.Spravoch_Clients.Main" />
        <activity android:name=".activity.Spravoch_Clients.Add" />
        <activity android:name=".activity.Spravoch_Providers.Main" />
        <activity android:name=".activity.Spravoch_Providers.Add" />
        <activity android:name=".activity.Nomenklatura.Main" />
        <activity android:name=".activity.Nomenklatura.Add" />
        <activity android:name=".activity.Zakazy.Main" />
        <activity android:name=".activity.Zakazy.Zakazy_Client" />
        <activity android:name=".activity.Spravoch_Couriers.Main" />
        <activity android:name=".activity.Spravoch_Couriers.Zakazy" />
        <activity android:name=".activity.Zakazy.Zakaz_info" />
        <activity android:name=".activity.Spravoch_Couriers.Zakaz_info" />
        <activity android:name=".activity.Organizer.Main" />
        <activity android:name=".activity.Organizer.Add"></activity>
    </application>

</manifest>